body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
}

.order_med {
    text-align: center;
}

.content {
    background-color: rgba(22, 169, 139, 0.723);
    padding: 80px;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 120px;
    margin: 0;
}

.address{
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="number"],
textarea {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#cart {

    color: rgb(198, 232, 230);
    border: solid black;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

#cartItems {
    list-style: none;
    padding: 0;
}

#cartItems li {
    margin-bottom: 5px;
}

#checkoutBtn {
    text-align: center;
}


.order-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 20px;
    padding-top: 40px;
    background-image: url(../assests/v870-tang-36.jpg);
    background-size: cover;
}

.navbar-custom {
    background: linear-gradient(to right, #ffcc00, #66cc99, #0077cc);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#media :hover{
    background: linear-gradient(to right, #ffcc00, #66cc99, #0077cc);
    color: black;
    padding: 2px;
    margin: 2px;
    font-weight: 700;
  }