.bold {
  font-weight: 700;
}

.navbar-custom {
  background: linear-gradient(to right, #ffcc00, #66cc99, #0077cc);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.upper-main-div {

  display: flex;
  padding-top: 50px;

}

#loginBtn {
  border: solid;
  border-radius: 10px;
  box-shadow: 0 0 5px #f7fd79;
  background-color: #66cc99;
}

.left-content {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(./assests/bg-image1.png);
  background-size: cover;
  padding-left: 4%;
  padding-right: 35%;
  padding-top: 10%; */
  background-image: url("./assests/v870-tang-36.jpg");
  background-size: cover;
  padding-left: 20%;
}

#title{
  font-size: 2vw;
  color: #48916cfc;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.left-content p{
  font-size: 1.3vw;
  margin: 0;
  color: #5ab98a;
}

.panel-body {
  padding: 15px;
}

.right-marquee {
  width: 20%;
  border: solid black 1px;
  border-radius: 5px;
  margin: 20px;
  margin-top: 40px;
  padding: 10px;


}

li{
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .faq-container {
    margin: 20px;
  }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .upper-main-div {
    flex-direction: column;
  }

  .left-content {
    width: 100%;
    height: 60vw;
  }

  .right-marquee {
    width: 92%;
  }
}


.lower-div {
  padding: 2%;
}

.salient-feature {
  padding: 15px;
  margin-left: 30px;
  margin-right: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.feature_cont {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.card {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66cc99;
  border-radius: 34px;
  transition: all .2s ease-in-out;
  color: white;
}

.card:hover {
  background-color: white;
  color: #000000;
  transform: scale(1.02);
  border: 2px black dashed;
}

.footer {
  /* background: linear-gradient(to right, #ffcc00, #66cc99, #0077cc); */
  background-color: black;
}

.faq-container {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  margin-right: 40px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
  transition: transform 0.3s ease;
}

.opened .arrow {
  transform: translateY(-50%) rotate(-180deg);
}

.faq-answer {
  display: none;
  margin-top: 10px;
}

.faq-answer p {
  margin: 0;
}

.faq-answer ul {
  margin-top: 10px;
  padding-left: 20px;
}

.faq-answer-show {
  display: block;
}

#media :hover{
  background: linear-gradient(to right, #ffcc00, #66cc99, #0077cc);
  color: black;
  padding: 2px;
  margin: 2px;
  font-weight: 700;
}